# git clone 시 생성되는 gradle project파일
.gradle
.project
.settings

# Mac
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### direnv ###
.envrc

# Terraform state files
*.tfstate
*.tfstate.*

# Backup files created by Terraform
*.tfstate.backup

# Crash log files
crash.log

# Terraform variable files containing sensitive data
*.tfvars
*.tfvars.json

# Terraform plan files
tfplan
*.tfplan

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform provider plugins
.terraform/
.terraform.lock.hcl

# Local command logs
.terraform.rc
terraform.rc

# Deploy folder
backend/deploy

# Private key
private_key.pem
