files:
  /promtail-local-config.yaml:
  mode: "000755"
  owner: root
  group: root
  content: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
    positions:
      filename: /tmp/positions.yaml
    clients:
      - url: http://13.125.198.59:3100/loki/api/v1/push
    scrape_configs:
      - job_name: access
        static_configs:
          - targets:
              - localhost
            labels:
              job: access
              __path__: /var/app/current/logs/access/access.log
      - job_name: info
        static_configs:
          - targets:
              - localhost
            labels:
              job: info
              __path__: /var/app/current/logs/info/info.log
      - job_name: warn
        static_configs:
          - targets:
              - localhost
            labels:
              job: warn
              __path__: /var/app/current/logs/warn/warn.log
      - job_name: error
        static_configs:
          - targets:
              - localhost
            labels:
              job: error
              __path__: /var/app/current/logs/error/error.log
      - job_name: performance
        static_configs:
          - targets:
              - localhost
            labels:
              job: performance
              __path__: /var/app/current/logs/performance/performance.log
              
container_commands:
  01_promtail_linux_amd64_zip:
    command: "wget https://github.com/grafana/loki/releases/download/v2.2.1/promtail-linux-amd64.zip"
  02_promtail_linux_amd64_unzip:
    command: "unzip promtail-linux-amd64.zip"
  03_kill_promtail:
    command: "fuser -k 9080/tcp"
    ignoreErrors: true
  04_exec_promtail:
    command: "nohup ./promtail-linux-amd64 -config.file=/promtail-local-config.yaml >/dev/null 2>&1 &"
