container_commands:
  01_promtail_linux_amd64_zip:
    command: "wget https://github.com/grafana/loki/releases/download/v2.2.1/promtail-linux-amd64.zip"
  02_promtail_linux_amd64_unzip:
    command: "unzip promtail-linux-amd64.zip"
  03_kill_promtail:
    command: "fuser -k 9080/tcp"
    ignoreErrors: true
  04_exec_promtail:
    command: "./promtail-linux-amd64 -config.file=./deploy-config/promtail-local-config.yaml"
