files:
    "/etc/awslogs/config/custom_logs.conf" :
        mode: "060606"
        owner: root
        group: root
        content: |
            [/var/app/current/logs/performance/performance.log]
            log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/app/current/logs/performance/performance.log"]]}`
            log_stream_name = {instance_id}
            file =/var/app/current/logs/performance/performance.log*      
