version: "3.8"
services:
  server:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - 9900:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/prolog?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
      SPRING_FLYWAY_ENABLED: true
  db:
    platform: linux/x86_64
    image: library/mysql:8.0.28
    container_name: prolog-local-db
    restart: always
    ports:
      - 13306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: prolog
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Seoul
    command: ["mysqld", "--character-set-server=utf8mb4", "--collation-server=utf8mb4_general_ci"]
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.0
    container_name: elasticsearch
    restart: always
    ports:
      - "9200:9200"
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
