application:
  url: https://dev.prolog.techcourse.co.kr
  bucket:
    name: prolog-image
  cloudfront:
    url: https://d36rfsjtlhxac1.cloudfront.net/

spring:
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comment: false
  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration/prod
    out-of-order: true

management:
  endpoints:
    web:
      exposure:
        include: "prometheus"
  metrics:
    tags:
      application: prolog

security:
  jwt:
    token:
      secret-key: secret_key
      expire-length: 3600000

github:
  url:
    access-token: https://github.com/login/oauth/access_token
    profile: https://api.github.com/user

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false

manager:
  role: COACH
