application:
  url: http://127.0.0.1:8080

spring:
  datasource:
    url: jdbc:mysql://localhost:13306/prolog?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

github:
  client:
    id: f91b56445e08d44adb76
    secret: f02769f780ed3d40f9db9283f5b7cc79ecf9074e

manager:
  role: GUEST

slack:
  article:
    token: token
    channel: channel
