spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        use_sql_comment: false
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    out-of-order: true
    locations: classpath:db/migration/prod

security:
  jwt:
    token:
      secret-key: secret_key
      expire-length: 3600000

github:
  client:
    id: client_id
    secret: client_secret
  url:
    access-token: https://github.com/login/oauth/access_token
    profile: https://api.github.com/user

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false
application:
  url: https://dev.prolog.techcourse.co.kr
  bucket:
    name: prolog-image
  cloudfront:
    url: https://d36rfsjtlhxac1.cloudfront.net/
