logging:
  level:
    org:
      springframework:
        web:
          client:
            RestTemplate: DEBUG
security:
  jwt:
    token:
      secret-key: xpzmzhtmvmfhrmvmfhwprxm
      expire-length: 3600000

server:
  port: 5000
  error:
    include-message: always
    include-binding-errors: always

github:
  client:
    id: f91b56445e08d44adb76
    secret: f02769f780ed3d40f9db9283f5b7cc79ecf9074e