server:
  port: 4000

security:
  jwt:
    token:
      secret-key: secret_key
      expire-length: 3600000

spring:
  autoconfigure:
    exclude:
    - org.springframework.ai.autoconfigure.azure.openai.AzureOpenAiAutoConfiguration
    - org.springframework.ai.autoconfigure.openai.OpenAiAutoConfiguration
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comment: false
  flyway:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:13306/prolog?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

github:
  client:
    id: test_id
    secret: test_secret
  url:
    access-token: http://localhost:4000/github/login/oauth/access_token
    profile: http://localhost:4000/github/user

application:
  url: http://localhost:8080
  bucket:
    name: prolog-image
  cloudfront:
    url: https://d36rfsjtlhxac1.cloudfront.net/

manager:
  role: GUEST

slack:
  article:
    token: test_token
    channel: test_channel
  logger-webhook-uri: https://hooks:slack.com/services/your/webhook/uri
