<configuration>
    <springProfile name="prod, dev">
        <include resource="logback/access-logger.xml"/>
        <appender-ref ref="access-logger"/>
    </springProfile>

    <springProfile name="prod, dev, local, test">
        <include resource="logback/console-access-logger.xml"/>
        <appender-ref ref="console-access-logger"/>
    </springProfile>
</configuration>
